
{% include "permanent.html" %}
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50" >

<!-- Navbar -->
<nav class="navbar sticky-top justify-content-center navbar-expand-sm bg-dark navbar-dark ">
<br>


    <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="#section1">Mathematics 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section2">PCPF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section3">DBMS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section4">PCOM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section5">DSA</a>
      </li>
    </ul>
  </div>
</nav>


<div id ="sem3">
<div id="section1" class="container-fluid bg-success text-white" style="padding:100px 20px;">
    <div class="row">
        <div class="col-4">
          <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
              <!-- SUBJECT MODULE 1 -->
              <a class="nav-link" href="#item-1">Laplace Tranform</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
              </nav>
              <a class="nav-link" href="#item-2">Inverse Laplace Tranform</a>
              <a class="nav-link ms-3 my-1" href="#item-2-1">Item 3-1</a>
                <a class="nav-link ms-3 my-1" href="#item-2-2">Item 3-2</a>
              </nav>
              <a class="nav-link" href="#item-3">Fourier Series</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
                <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
              </nav>
              <a class="nav-link" href="#item-4">Complex Variable</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-4-1">Item 4-1</a>
                <a class="nav-link ms-3 my-1" href="#item-4-2">Item 4-2</a>
                <a class="nav-link" href="#item-5">Statitical Techniques</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-5-1">Item 5-1</a>
                <a class="nav-link ms-3 my-1" href="#item-5-2">Item 5-2</a>
                <a class="nav-link" href="#item-6">Probablity</a>
                <nav class="nav nav-pills flex-column">
                  <a class="nav-link ms-3 my-1" href="#item-6-1">Item 6-1</a>
                  <a class="nav-link ms-3 my-1" href="#item-6-2">Item 6-2</a>
              </nav>
            </nav>
          </nav>
        </div>
      
        <div class="col-8">
          <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            <div id="item-1">
              <h4>Item 1</h4>
              <p>...</p>
            </div>
            <div id="item-1-1">
              <h5>Item 1-1</h5>
              <p>...</p>
            </div>
            <div id="item-1-2">
              <h5>Item 1-2</h5>
              <p>...</p>
            </div>
            <div id="item-2">
              <h4>Item 2</h4>
              <p>...</p>
            </div>
            <div id="item-2-1">
              <h5>Item 3-1</h5>
              <p>...</p>
            </div>
            <div id="item-2-2">
              <h5>Item 3-2</h5>
              <p>...</p>
            </div>
            <div id="item-3">
              <h4>Item 3</h4>
              <p>...</p>
            </div>
            <div id="item-3-1">
              <h5>Item 3-1</h5>
              <p>...</p>
            </div>
            <div id="item-3-2">
              <h5>Item 3-2</h5>
              <p>...</p>
            </div>
            <div id="item-4">
                <h4>Item 4</h4>
                <p>...</p>
              </div>
              <div id="item-4-1">
                <h5>Item 4-1</h5>
                <p>...</p>
              </div>
              <div id="item-4-2">
                <h5>Item 4-2</h5>
                <p>...</p>
                <div id="item-5">
                    <h4>Item 5</h4>
                    <p>...</p>
                  </div>
                  <div id="item-5-1">
                    <h5>Item 5-1</h5>
                    <p>...</p>
                  </div>
                  <div id="item-5-2">
                    <h5>Item 5-2</h5>
                    <p>...</p>
                  </div>
                  <div id="item-6">
                    <h4>Item 6</h4>
                    <p>...</p>
                  </div>
                  <div id="item-6-1">
                    <h5>Item 6-1</h5>
                    <p>...</p>
                  </div>
                  <div id="item-6-2">
                    <h5>Item 6-2</h5>
                    <p>...</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
</div>


<!-- pcpf -->

<div id="section2" class="container-fluid bg-warning" style="padding:100px 20px;">
    <div class="row">
        <div class="col-4">
          <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
              <a class="nav-link" href="#item-1">Item 1</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
              </nav>
              <a class="nav-link" href="#item-2">Item 2</a>
              <a class="nav-link" href="#item-3">Item 3</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
                <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
              </nav>
            </nav>
          </nav>
        </div>
      
        <div class="col-8">
          <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            <div id="item-1">
              <h4>Item 1</h4>
              <p>...</p>
            </div>
            <div id="item-1-1">
              <h5>Item 1-1</h5>
              <p>...</p>
            </div>
            <div id="item-1-2">
              <h5>Item 1-2</h5>
              <p>...</p>
            </div>
            <div id="item-2">
              <h4>Item 2</h4>
              <p>...</p>
            </div>
            <div id="item-3">
              <h4>Item 3</h4>
              <p>...</p>
            </div>
            <div id="item-3-1">
              <h5>Item 3-1</h5>
              <p>...</p>
            </div>
            <div id="item-3-2">
              <h5>Item 3-2</h5>
              <p>...</p>
            </div>
          </div>
        </div>
      </div>
</div>

<div id="section3" class="container-fluid bg-info  text-white" style="padding:100px 20px;">
    <div class="row">
        <div class="col-4">
          <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
              <a class="nav-link" href="#item-1">Item 1</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
              </nav>
              <a class="nav-link" href="#item-2">Item 2</a>
              <a class="nav-link" href="#item-3">Item 3</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
                <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
              </nav>
            </nav>
          </nav>
        </div>
      
        <div class="col-8">
          <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            <div id="item-1">
              <h4>Item 1</h4>
              <p>...</p>
            </div>
            <div id="item-1-1">
              <h5>Item 1-1</h5>
              <p>...</p>
            </div>
            <div id="item-1-2">
              <h5>Item 1-2</h5>
              <p>...</p>
            </div>
            <div id="item-2">
              <h4>Item 2</h4>
              <p>...</p>
            </div>
            <div id="item-3">
              <h4>Item 3</h4>
              <p>...</p>
            </div>
            <div id="item-3-1">
              <h5>Item 3-1</h5>
              <p>...</p>
            </div>
            <div id="item-3-2">
              <h5>Item 3-2</h5>
              <p>...</p>
            </div>
          </div>
        </div>
      </div>


</div>


<div id="section4" class="container-fluid bg-info  text-white" style="padding:100px 20px;">
    <div class="row">
        <div class="col-4">
          <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
              <a class="nav-link" href="#item-1">Item 1</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
              </nav>
              <a class="nav-link" href="#item-2">Item 2</a>
              <a class="nav-link" href="#item-3">Item 3</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
                <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
              </nav>
            </nav>
          </nav>
        </div>
      
        <div class="col-8">
          <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            <div id="item-1">
              <h4>Item 1</h4>
              <p>...</p>
            </div>
            <div id="item-1-1">
              <h5>Item 1-1</h5>
              <p>...</p>
            </div>
            <div id="item-1-2">
              <h5>Item 1-2</h5>
              <p>...</p>
            </div>
            <div id="item-2">
              <h4>Item 2</h4>
              <p>...</p>
            </div>
            <div id="item-3">
              <h4>Item 3</h4>
              <p>...</p>
            </div>
            <div id="item-3-1">
              <h5>Item 3-1</h5>
              <p>...</p>
            </div>
            <div id="item-3-2">
              <h5>Item 3-2</h5>
              <p>...</p>
            </div>
          </div>
        </div>
      </div>


</div>


<!-- PCOM -->
<div id="section5" class="container-fluid bg-secondary text-white" style="padding:100px 20px;">
    <div class="row">
        <div class="col-4">
          <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
              <a class="nav-link" href="#item-1">Item 1</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
              </nav>
              <a class="nav-link" href="#item-2">Item 2</a>
              <a class="nav-link" href="#item-3">Item 3</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
                <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
              </nav>
            </nav>
          </nav>
        </div>
      
        <div class="col-8">
          <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            <div id="item-1">
              <h4>Item 1</h4>
              <p>...</p>
            </div>
            <div id="item-1-1">
              <h5>Item 1-1</h5>
              <p>...</p>
            </div>
            <div id="item-1-2">
              <h5>Item 1-2</h5>
              <p>...</p>
            </div>
            <div id="item-2">
              <h4>Item 2</h4>
              <p>...</p>
            </div>
            <div id="item-3">
              <h4>Item 3</h4>
              <p>...</p>
            </div>
            <div id="item-3-1">
              <h5>Item 3-1</h5>
              <p>...</p>
            </div>
            <div id="item-3-2">
              <h5>Item 3-2</h5>
              <p>...</p>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>