{% include "permanent.html" %} 

    {% block body %}
<body>
<a href="m4" class="button4" style="background-color:#f14e4e">Mathematics 4</a>
<a href="at" class="button4" style="background-color:#f1bb4e">Automata Theory</a>
<a href="coa" class="button4" style="background-color:#84f14e">Computer Of Architecture</a>
<a href="os" class="button4" style="background-color:#4ef18f">Operating System</a>
<a href="cnnd" class="button4" style="background-color:#f14e4e">CNND</a>

<br><br><br><br>
</body>
{% endblock  %}
{% include "footer.html" %}